SUBSYSTEM=="usb", ATTRS{manufacturer}=="Prolific Technology Inc.", SYMLINK+="energy_meter"
ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="fd08", SYMLINK+="ir-toy"
